.article-item {
    display: flex;
    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        >.content {
            @include content;
            border-left:0.25px solid $borderColor;
        }
    }
}