.header-container{
    width: 100%;
    height: 1rem;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 0;
        height: 0.5rem;
        background-color: $articleHeaderColor;
        border-radius: 0 $borderRadius 0 0;
        .title {
            font-weight: bold;
            font-size: 0.75rem;
            color: $articleDarkSideColor;
            margin-left: 0.5rem;
        }
        .article-handler{
            display: flex;
            gap: 1rem;
            .open-close {
                display: flex;
                justify-content: center;
                align-items: center;    
                margin-right: 0.5rem;
            }
        }
    }
}