.handler{
    width: 1.2rem !important;
    .icon-container{
        display: flex;
        flex-direction: column;
        background-color: $articleDarkSideColor;
        justify-content: space-between;
        border-radius: $borderRadius 0 0 $borderRadius;
        height: 100%;
    }
}