.plus-handle{
    display: flex;
    justify-content: center;
    position: relative;
    color: $iconColor;
    .plus {
        width: 15px;
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    .dropdown {
        @extend %base-dropdown;
        right: 20px;
    }
}