.version {
    display: flex;
    gap: 0.5rem;
    .icons{
        display: flex;
        gap: 0.5rem;
        img {
            width: 15px;
            cursor: pointer;
        }
    }
    p{
        margin: 0;
    }
}