.version {
    display: flex;
    align-items: center;
    gap: 1rem;
    .version-icons{
        display: flex;
        gap: 0.5rem;
        margin-top: 0.2rem;
        .icon {
            
            color: $iconColor;
            cursor: pointer;
        }
    }
    .version-name{
        font-weight: bold;
        font-size: 0.75rem;
        color: $iconColor;
    }
}