$backgroundColor : #ffffff;
$textColor: #000000;
$iconColor: #496083; 

$articleDarkSideColor: #05f;
$articleLightSideColor: #3385ff;
$articleHeaderColor: #dee4ed;

$shadowColor: #888888;
$borderColor: #bec9da;
$borderRadius: 0.4rem;