.menu {
    position: relative;
    .menu-container {
        display: flex;
        flex-direction: column;
        .icon-container{
            display: flex;
            width: 1rem;
            justify-content: center;
            align-self: center;
            gap: 0.5rem;
            position: absolute;
            right: 5px;
            top: 5px;
            padding-right: 0;
        }
    }
}