.menu {
    position: relative;
    .menu-container {
        display: flex;
        flex-direction: column;
        .icon-container{
            display: flex;
            width: 2rem;
            justify-content: center;
            align-self: center;
            gap: 0.5rem;
            position: absolute;
            right: 10px;
        
            .menu-icon > img{
                width: 20px;
                height: 20px;
                cursor: pointer;
                z-index: 1;
            }
        
            .delete-icon > img{
                width: 20px;
                height: 20px;
                cursor: pointer;
                z-index: 1;
            }
        }

        .dropdown {
            position: absolute;
            top: 10px;
            right: 45px;
            width: 150px;
            background-color: var(--bg);
            border: var(--border);
            border-radius: var(--border-radius);
            padding: 1rem;
            box-shadow:  5px 10px 8px 1px #888888 ;
            overflow: hidden;
            z-index: 10;
            .container {
                width: 100%;
                .item {
                    height: 50px;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    border: none;
                    background: transparent;
                    font-size: 0.85rem;
                    color: var(--text-color);
                    font-weight: 500;
                    padding: 0 0.2rem;
                    opacity: 0.6;
                    cursor: pointer;
                    &:hover,
                    &.is-active {
                    opacity: 1;
                    }
                    .item-icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }   
        }
    }
}