.editor {
  max-width: 80%;
  margin: 0 auto;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top: 1rem;
  
  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }
  
  ul,
  ol {
    padding: 0;
  }

  &:focus-visible{
    outline: none;
  }
  }
}