.draggable-item {
    display: flex;
    border-radius: 0.5rem;
    // box-shadow:
    //   0 0 0 1px rgba(0, 0, 0, 0.05),
    //   0px 10px 20px rgba(0, 0, 0, 0.1);
    
    .drag-handle {
        width: 2rem;
        img {
            width: 40px;
            // position: relative;
            cursor: grab;
        }
    }
    
    .content {
        word-break: break-all;
        width: 100%;
        div {
            p,h1,h2,h3 {
                margin: 0;
                padding: 1rem 2rem 0 0;
            }
            ul,ol{
                padding: 0;
                margin: 0;
            }
        }
    }

    .list-item {
        flex: 1 1 auto;
        margin-left: 1rem;
    }
}